[2022-03-04 16:27] skitt opened #1904 "subctl gather on non-broker clusters leaves a “Gathering broker” spinner"
The “Gathering broker” spinner continues spinning throughout the `gather` run:

Note how “ ⠈⡱ Gathering broker logs” appears in several places. Neither of these clusters is a broker cluster.

[2022-03-04 19:21] sridhargaddam commented on #1901
Did you use "subctl uninstall ...." before redeploying with Globalnet?

Also, can you please attach the diagnose output.

[2022-03-06 00:38] github-actions[bot] opened #1906 "Broken bundle detected by CI"
# Broken bundle

Periodic operator bundle CI detected a broken bundle. Please see the [periodic job
results](https://github.com/submariner-io/submariner-operator/actions?query=workflow%3APeriodic) for details.

[2022-03-06 09:29] mkolesnik commented on #1903
Proposing a PR to make uninstall re-entrant, now it'll look like this:

[code]

[2022-03-06 10:17] mkolesnik commented on #1897
FYI `deploy-broker` doesnt either, so maybe its a more general concern that should be added at a higher level to all the commands?

[code]

[2022-03-06 10:29] mkolesnik commented on #1896
I'm not seeing it, which command(s) did you run to get that?
[code]

[2022-03-06 14:55] mkolesnik commented on #1896
Generally it's problematic, since there's no good way to disable 3rd party libraries from logging from what I can tell.

We could capture the entire stdout during the call perhaps..?

Probably the best solution would be to use v1 API but AFAICT it's only available since K8s 1.21 and we aim to support 1.20 on 0.12

[2022-03-06 15:40] mkolesnik commented on #1896
OK after extensive digging around I found https://kubernetes.io/blog/2020/09/03/warnings/#customize-client-handling and am sending a patch to use that, I'll also open an issue to change the API.

[2022-03-07 07:58] mkolesnik commented on #1896
Proposed solution output:
[code]

[2022-03-07 08:00] mkolesnik opened #1911 "`subctl gather` - discovery.k8s.io/v1beta1 EndpointSlice is deprecated in v1.21+"
When running in a deployment that has service discovery enabled, this warning is produced by the API:
`Warning: discovery.k8s.io/v1beta1 EndpointSlice is deprecated in v1.21+, unavailable in v1.25+; use discovery.k8s.io/v1 EndpointSlice`

We should switch to using `discovery.k8s.io/v1` once we drop support for K8s 1.20

**What happened**:

**What you expected to happen**:

**How to reproduce it (a

[2022-03-07 08:01] mkolesnik commented on #1896
Opened submariner-io/subctl#45 for switching the API

[2022-03-07 08:04] skitt commented on #1901
Yes, I ran `subctl uninstall` on all the clusters involved, and it completed successfully.

I no longer have it, but it didn’t find anything wrong. I have the `subctl gather` output if that’s any use. I can re-run the scenario to see if I reproduce the problem!

[2022-03-07 08:07] skitt commented on #1897
Indeed, we should consider that.

[2022-03-07 08:42] mkolesnik commented on #1900
It's not clear where the error happened, do you have more logs or is this all there is?

[2022-03-07 08:45] skitt commented on #1911
This is a duplicate of https://github.com/submariner-io/lighthouse/issues/576.

[2022-03-07 08:45] mkolesnik commented on #1894
I'll fix the bug but adding additional info sounds like an enhancement to me so I suggest we open a separate issue for that and address it properly.

[2022-03-07 08:52] yboaron opened #1913 "IP rule list/tables not deleted on GW node after submariner uninstall"
**What happened**:
IP rule list and tables (100 and 150) were not deleted on GW node after Submariner uninstall

**What you expected to happen**:
IP tables and rules (100,150) should be deleted

**How to reproduce it (as minimally and precisely as possible)**:

$ bin/subctl uninstall  --kubeconfig output/kubeconfigs/kind-config-cluster2
? This will completely uninstall Submariner from the cluster.

[2022-03-07 09:09] mkolesnik commented on #1911
No since this is about switching calls in `subctl` while the one you mentioned is about Lighthouse itself

[2022-03-07 09:19] skitt commented on #1900
I don’t have any more logs, but I think this is happening in `GatewayCleanup`.

[2022-03-07 09:21] skitt commented on #1911
Ah yes, there are separate references in `subctl gather` which aren’t transitive through Lighthouse. In any case

Depends on https://github.com/submariner-io/lighthouse/issues/576

[2022-03-07 09:59] sridhargaddam commented on #1913
@yboaron Are there any entries in the above tables?
ip route show table 100
ip route show table 150

[2022-03-07 10:29] yboaron commented on #1913
Nope, tables are empty

[2022-03-07 10:48] yboaron commented on #1913
Only the ip rules exist after uninstall, and yeah they are pointing to empty tables (150 and 100) so no effect on IP routing.

This is the relevant output from GW node (KIND reswan):

Before uninstall
==============

bash-5.1# ip rule list
0:      from all lookup local
150:    from all lookup 150
32766:  from all lookup main
32767:  from all lookup default
bash-5.1#
bash-5.1# ip route show table 1

[2022-03-07 12:12] sridhargaddam commented on #1902
When the cluster is used as Broker as well as managedCluster, the `subctl uninstall ...` command [deletes the BrokerNamespace](https://github.com/submariner-io/submariner-operator/blob/a1dbdeebe3c7f39a14784d353c81569307dc740f/pkg/uninstall/all.go#L74) which in-turn should delete the globalnet ConfigMap.

Are you seeing this problem on **Broker only** Cluster or even on a cluster which is both Brok

[2022-03-07 12:18] skitt commented on #1900
Yes, I’m not sure why this happened; the main issue I have is that failing to unlabel the node shouldn’t fail if the node no longer exists.

[2022-03-07 12:31] yboaron opened #1914 "Submariner-operator pod logs size is ~4M after ~2 hours of operation"
**What happened**:
submariner-operator pod logs size is ~4 MB after 2.5 hours of operation

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1. Run KIND deployment  (https://submariner.io/getting-started/quickstart/kind/)
2. Wait ~2 hours
3. run ./bin/subctl gather
4. Check files size (in gather dest directory)

total 8856
-rw-rw-r-- 1 yboaron ybo

[2022-03-07 12:48] sridhargaddam commented on #1913
Correct, they will not have an effect on the routing, as they are empty. But to avoid any confusion, we can remove the tables as well.

[2022-03-07 13:05] sridhargaddam opened #1915 "Cloud prepare: Switch the default dedicated mode to enabled for GCP Clusters"
Currently, while preparing cloud infrastructure for GCP clusters, the default value of `--dedicated-gateway` is set as false. This should be changed to "true".

[code]

[2022-03-07 15:27] mkolesnik commented on #1894
This will be the new printout with the suggested PR:

[code]

[2022-03-07 22:55] nyechiel commented on #1915
@sridhargaddam it looks like we will also need to update our docs: https://submariner.io/operations/deployment/subctl/#prepare-gcp

[2022-03-08 08:18] #1897 closed, assigned to mkolesnik

[2022-03-08 09:38] #1893 closed, assigned to yboaron

[2022-03-08 09:56] sridhargaddam opened #1919 "RHOS Cloud prepare: Switch the default value of dedicated mode to true"
Currently, while preparing cloud infrastructure for RHOS clusters, the default value of --dedicated-gateway is set as false. This should be changed to "true".

[2022-03-08 10:12] sridhargaddam commented on #1915
Done: https://github.com/submariner-io/submariner-website/pull/701

[2022-03-08 10:14] sridhargaddam commented on #1915
@nyechiel do we have an issue to track documentation for "rhos cloud prepare"?

[2022-03-08 10:19] #1894 closed, assigned to mkolesnik

[2022-03-08 10:36] nyechiel commented on #1915
It's mentioned in the epic (https://github.com/submariner-io/enhancements/issues/47) but I don't see an issue to track it. @aswinsuryan can you please handle this?

[2022-03-08 10:59] mkolesnik opened #1921 "Log flooded with `k8s.io/client-go@v12.0.0+incompatible/tools/cache/reflector.go:156: Failed to watch *unstructured.Unstructured: unknown`"
Fixing #1914 with #1920 unearthed these log messages "flooding" the log, every 30-40 secs.
We should probably address them.

[code]

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Diagnose information (use `subctl diagnose all`):
- Gather information (use `subctl gather

[2022-03-08 11:25] sridhargaddam commented on #1901
@skitt I'm moving it to generic backlog as we are not able to easily reproduce the issue.

[2022-03-08 11:26] #1896 closed, assigned to mkolesnik

[2022-03-08 11:54] vthapar commented on #1885
`subctl diagnose firewall` has an option to specify namespace to create pods in, but it is not available for `subctl diagnose all`. This makes it difficult to use from a Pod running with `all` option. Proper fix would be to make the `namespace` flag available for `all` option too and then use it to create pods in operator namespace.

[2022-03-08 12:19] #1903 closed, assigned to mkolesnik

[2022-03-08 13:14] #1904 closed, assigned to skitt

[2022-03-08 13:47] mkolesnik opened #1927 "Investigate why K8s 1.23 E2E jobs with LH time out"
Seems that these jobs time out (after 30 minutes) quite frequently recently, we should probably figure out why that is.

The easy way out is just to raise the timeout, but this might obfuscate a bigger issue with this combination.

[2022-03-08 13:57] #1919 closed, assigned to sridhargaddam

[2022-03-08 13:57] #1915 closed, assigned to sridhargaddam

[2022-03-08 14:28] #1914 closed, assigned to mkolesnik

[2022-03-08 16:40] nyechiel commented on #1895
@skitt my understanding is that https://github.com/submariner-io/admiral/pull/330 reduces the impact of this issue, but do you have an idea of what else should be done? should we track it separately or keep this issue open?

[2022-03-08 17:10] skitt commented on #1895
I want to keep this open, because the Admiral fix reduces the impact but doesn’t fix everything. I’m investigating the token rotation which seems to be causing problems with OpenShift, at least in 4.9; I haven’t seen the issue in 4.10 so things might have changed there.

[2022-03-08 17:38] skitt opened #1930 "If a GN ConfigMap is present, with GN disabled, deploying the broker with GN enabled fails silently"
After uninstalling Submariner, I re-installed it, with Globalnet enabled:

[code]

Everything seemed to go well, however joining a cluster fails to enable Globalnet:

[code]

Looking at the GN ConfigMap shows that GN is disabled:

[code]

Ideally, in these circumstances, broker deployment would override the ConfigMap; if that’s not possible, it should at least tell the user that Globalnet was requ

[2022-03-08 17:44] skitt opened #1931 "subctl join’s --globalnet flag no longer seems useful"
Globalnet is configured on the broker, and joining a cluster follows the broker settings. The `--globalnet` flag no longer seems useful and should be removed if it isn’t.

[2022-03-09 07:56] nyechiel commented on #1931
@sridhargaddam can keep me honest here, but IIRC this was added based on user's feedback.This is a very niche use-case where in one central/hub cluster we are disabling Globalnet, however all the member clusters that are joined to the hub cluster use Globalnet.

[2022-03-09 08:52] sridhargaddam commented on #1936
The necessary change has to be done in "subctl cloud prepare aws/gcp/rhos/xxx" utility to allow reading the additional port. This can be done either by modifying the current `--metrics-port` flag to allow multiple values (care has to be taken about backward compatibility issues) or by introducing a new metrics flag for Globalnet metrics.

[2022-03-09 08:57] sridhargaddam commented on #1936
Along with this, we also need changes in `subctl diagnose ...` to verify if the Globalnet metrics port is configured.

[2022-03-09 08:59] sridhargaddam opened #1937 "subctl diagnose should validate Globalnet metrics port."
Globalnet pod listens on TCP/8081 and the [following PR](https://github.com/submariner-io/submariner-operator/issues/1936) is going to address necessary changes in cloud prepare to open the port. This issue is to track the necessary changes in subctl diagnose so that we can validate if the port is configured or not.

[2022-03-09 09:00] sridhargaddam commented on #1936
Reported a separate issue to track this - https://github.com/submariner-io/submariner-operator/issues/1937

[2022-03-09 09:22] mkolesnik commented on #1936
Should probably change flag in subctl to receive multiple ports instead of adding a new flag, default should remain 8080 unless we expect most of the deployments to use globalnet in whyich case we can add it to default in the future

[2022-03-09 09:27] mkolesnik commented on #1931
AFAIK we don't support mixed deployments of globalnet, e.g. its either the entire clusterset uses it, or doesnt.

[2022-03-10 14:29] mkolesnik opened #1940 "Add gateway node detection to `subctl diagnose`"
**What would you like to be added**:
Diagnostics can detect that we have at least one healthy node labeled with the expected label.
If it can detect that the node has an external IP that would be also good.

**Why is this needed**:
This will make it easier for admins to identify cases when for some reason (mis-configuration, some other error) there's no healthy nodes that are labeled as gateway an

[2022-03-14 07:51] mkolesnik opened #1943 "`sbuctl join` not detecting dedicated gateway on AWS"
**What happened**:
Deployed an AWS OCP cluster and ran `subctl cloud prepare aws` which deployed a gateway, but `subctl join` doesn't offer this gateway as an option.

Output of `subctl cloud prepare aws`:
[code]

When running `subctl join`, getting this prompt:
[code]

The gateway node has this DNS name: `ip-10-0-53-110.ec2.internal`

**What you expected to happen**:
`subctl join` should detect t

[2022-03-14 07:57] mkolesnik opened #1944 "Running `subctl gather` with no flags does absolutely nothing"
**What happened**:
Running `subctl gather` exists cleanly and does nothing.

[code]

**What you expected to happen**:
If nothing was given (i.e. no cluster(s) to gather from), `subctl gather` should show a message which flags/arguments it expects.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
This is when `KUBECONFIG` is not set.

**Environ

[2022-03-14 08:35] mkolesnik opened #1945 "Help text incorrect for `subctl gather`"
**What happened**:
Running `subctl gather` without `KUBECONFIG` set:

[code]

Then:
[code]

So clearly sending kubeConfig is not working

We should fix the documentation

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Diagnose information (use `subctl diagnose all`):
- Gather information (

[2022-03-14 09:25] mkolesnik opened #1946 "`subctl verify` doesn't handle multiple kubeconfig files"
**What happened**:
Running `subctl verify --help` one can see `--kubeconfig string             absolute path(s) to the kubeconfig file(s)`, however running with several files produces an error:

[code]

**What you expected to happen**:
It should work given a list of files, or the help text should be updated

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need

[2022-03-14 10:52] skitt commented on #1946
The separator for kubeconfigs is “:”, not “,”, same as for the `KUBECONFIG` variable. The documentation should indicate that...

[code]

[2022-03-14 12:00] skitt commented on #1946
Or the other way round, so users can specify either colons or commas.

It works for me, the command above is what I used for my tests...

[2022-03-14 14:09] mkolesnik opened #1948 "Jobs running with "labeled" trigger get triggered multiple times"
Turns out all our "conditional on label" jobs [1] are getting triggered each time a label is added, so when doing a release the automation actually adds 2 labels `ready-to-test` and `e2e-all-k8s`.

[1] (e.g. https://github.com/submariner-io/submariner-operator/blob/devel/.github/workflows/e2e-full.yml#L4-L11)

This action from the CLI perspective is just one action - create the PR with 2 labels, b

[2022-03-14 14:23] skitt commented on #1948
We should be able to configure concurrency to cancel previous jobs on the same hash in the same group; see https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#example-using-concurrency-to-cancel-any-in-progress-job-or-run. This isn’t perfect since we’d still _start_ too many jobs, but for double-labeling we would quickly cancel one of each pair.

[2022-03-14 14:49] mkolesnik opened #1949 "`subctl uninstall` deleted the broker even if it's used"
**What happened**:
Deployed 2 clusters on AWS (but this will probably reproduce on KIND), mkolesni-0.12-testday1 had the broker + submariner and mkolesni-0.12-testday2 joined.
When running `subctl uninstall` on mkolesni-0.12-testday1 saw the following:

[code]

Then when trying to re-join cluster1 I got:
[code]

**What you expected to happen**:
It this case `mkolesni-0.12-testday2` was still joine

[2022-03-14 15:06] skitt commented on #1949
`subctl uninstall` isn’t `subctl unjoin`, it’s intended to remove everything Submariner-related from the target cluster...

From a UX perspective it would be better to warn the user if `uninstall` sees that there are connected clusters.

[2022-03-14 15:14] mkolesnik commented on #1946
IDK when I run with the colon I get an error "unauthorized" but when running with two configs in arguments it works.

The error:
[code]

[2022-03-15 08:57] mkolesnik commented on #1946
That must be it, but this isn't documented entirely on the [AWS guide](https://submariner.io/getting-started/quickstart/openshift/aws/) - I updated the context name and current context as it detailed, but didn't touch the user name as it wasn't specified.

I opened a bug to fix this doc - https://github.com/submariner-io/submariner-website/issues/707

[2022-03-15 15:06] mkolesnik commented on #1948
We should try that and see if it'll help alleviate the problem, though it wont help if an unrelated label is added (jobs will still trigger)

[2022-03-15 15:29] tpantelis commented on #1949
Actually the epic refers to both terms "unjoin" and "uninstall" w/o defining a distinction.  I take `uninstall` to mean remove everything Submariner-related as @skitt mentioned which was the ask for the epic, at least FWIU. Perhaps there's also a use case for just "unjoining" a cluster w/o removing the colocated broker, in which case I think it makes sense to prompt the user before removing the br

[2022-03-17 16:09] skitt opened #2020 "Handle default namespaces in subctl"
kubeconfigs can specify a default namespace; whenever `subctl` needs a namespace, if none is specified by command-line flags, it should use the default namespace in the current context, _i.e._ the namespace set with

[code]

or variants thereof.

[2022-03-17 17:27] skitt commented on #1931
The flag was introduced by https://github.com/submariner-io/submariner-operator/pull/972

[2022-03-18 16:24] mikekuzak commented on #451
Hi, I'm getting the same error with an in-house deployment on Rancher. Rancher is using a self generated CA. Is there a way in the join command to omit the CA checking ?

[code]

[2022-03-21 08:13] skitt commented on #451
@mikekuzak not yet, but we do have this in the backlog: submariner-io/subctl#52

[2022-03-21 13:53] sridhargaddam commented on #1901
In case we are unable to reproduce this issue, can we close it?

[2022-03-21 13:56] sridhargaddam commented on #1930
Seems like uninstall is not cleaning up the configMap.

[2022-03-21 14:32] skitt commented on #1901
Yes, of course!

[2022-03-23 14:32] dfarrell07 commented on #967
I think the main thing that would be helpful here is to extract these tests to not run in every job, as they shouldn't be impacted by matrix dimensions like the cable driver.

[2022-03-23 14:34] mkolesnik commented on #967
@mkolesnik will collect data how much time these take and update the issue

[2022-03-23 15:07] dfarrell07 commented on #967
There's probably also a way to speed them up dramatically by batching test calls into containers. I think currently they are slow because each validation is its own call into a container, which takes about a second. If we could do all the checks for that container in the same call, that would speed things up. That might require more refactoring than it's worth however, IDK.

[2022-03-23 18:41] MaxBab opened #1977 "Backport `subctl verify --junit-report` flag into release-0.12"
Recent patches https://github.com/submariner-io/submariner-operator/pull/1961 https://github.com/submariner-io/shipyard/pull/755 added new flag - `--junit-report` to `subctl verify` command.

The flag helps to generate an xml report at the end of e2e tests execution.
The xml report is required for presenting the results of the testing within the qe pipeline.

The subctl version that is used within

[2022-03-24 13:18] MaxBab commented on #1977
@skitt @dfarrell07

Guys, is it possible to make a backport to 0.12 z release?
Please, share your thoughts.

[2022-03-28 09:03] vthapar opened #1988 "subctl gather should have option to output to stdin"
**What would you like to be added**:
Add option to `subctl gather` to output results to stdin instead of a file.

**Why is this needed**:
This will allow our CI/CD to run `subctl gather` as part of post-mortem, instead of using custom shell scripts. This way, we will not only be able to test `subctl gather` as part of CI/CD, but any newer additions to data required to troubleshoot will not require

[2022-03-29 06:17] sridhargaddam opened #1990 "subctl show versions is displaying the output twice"
Following is the output from `subctl show versions` command. The version information is printed twice.

[code]

Subctl version: 0.12.0

[2022-03-29 22:25] tpantelis commented on #1990
There's an extra call to `printVersions` introduced by https://github.com/submariner-io/submariner-operator/pull/1916.

[2022-04-01 10:38] #1990 closed, assigned to tpantelis

[2022-04-01 13:02] #1913 closed, assigned to yboaron

[2022-04-05 11:18] cgruver opened #2000 "subctl diagnose firewall inter-cluster - Does not work in a disconnected network"
The image used for testing the network appears to be hard coded:

`quay.io/submariner/nettest:devel`

I have Submariner `v0.12.0` installed on set of 3 OKD 4.10 clusters.  These clusters are disconnected from the internet.

I am able to successfully install and configure Submariner using the `--repository ${PRIVATE_REGISTRY}/submariner --version ${SUBMARINER_VER}` options.

These options do not ap

[2022-04-05 11:25] cgruver opened #2001 "`subctl uninstall` references a hard-coded image: `gcr.io/google_containers/pause`"
Executing `subctl uninstall` in a disconnected network generates image pull errors because of a hard-coded reference to `gcr.io/google_containers/pause`

The uninstall does appear to eventually succeed, but it takes an extended time due to the image pull failures, and may be subject to race conditions because the pause container is unavailable.

subctl version: `v0.12.0`

OKD 4.10

Relevant file:

[2022-04-05 12:14] tpantelis commented on #1902
We obtain the broker namespace from the `Submariner` (or `ServiceDiscovery`) CR. The problem is that on a broker-only cluster the `Submariner` CR doesn't exist. In that case we could allow the user to pass the broker namespace (or prompt) and, otherwise, assume the default namespace.

[2022-04-05 13:37] skitt commented on #2001
It seems like `image.GetPauseImageName()` from `k8s.io/kubernetes/test/utils/image` would give us the right name, but it’s not clear to me right now whether that’s intended for production use or just test use.

The canonical image name seems to be `k8s.gcr.io/pause`.

[2022-04-05 19:18] tpantelis commented on #1944
`ExecuteMultiCluster` silently returns if no kube configs were provided. Same things happens with `diagnose` et al. We should output a message, eg "_No kube config was provided. Please use the --kubeconfig flag or set the KUBECONFIG environment variable_"

[2022-04-05 19:33] tpantelis commented on #1945
`subctl gather` does not accept a _kubeConfig_ arg so remove it from the help text.

[2022-04-05 20:47] #1842 closed, assigned to nobody

[2022-04-05 20:48] #1831 closed, assigned to nobody

[2022-04-05 20:48] #1855 closed, assigned to nobody

[2022-04-05 20:48] #1880 closed, assigned to nobody

[2022-04-06 12:37] #1944 closed, assigned to tpantelis

[2022-04-06 13:15] dfarrell07 commented on #1945
We should also update the docs:

https://submariner.io/operations/deployment/subctl/#gather-flags

[code]

[2022-04-06 13:20] tpantelis commented on #1945
Update which part specifically? The docs don't indicate the unused arg.

[2022-04-06 13:23] dfarrell07 commented on #1945
Ah so it does accept a kubeconfig, just not in the way described here?

[2022-04-06 13:30] tpantelis commented on #1945
It's passed as a flag as described in the website docs. It is **not** passed as an arg so the code help text is incorrect.

[2022-04-06 14:09] #1945 closed, assigned to tpantelis

[2022-04-13 08:13] skitt commented on #1977
This is being used only for testing. Currently Maxim tests 0.12 with the `devel` `subctl`, only to run tests (deployment is handled by ACM). I think it’s worth backporting to ensure that 0.12.x is testing with the corresponding `subctl`; otherwise as 0.13 progresses and we potentially add 0.13-specific tests, we’re liable to break the 0.12 tests.

@dfarrell07 what do you think? I’ll add this to th

[2022-04-13 15:57] #1881 closed, assigned to Jaanki

[2022-04-13 17:17] tpantelis opened #2014 "`subctl uninstall` times out if the operator isn't running"
**What happened**:

`subctl uninstall` timed out while deleting the `ServiceDiscovery` resource:

[code]

**What you expected to happen**:

This can happen if the operator isn't running. Ideally it should check that the operator deployment is installed and running. If not, then log a warning and force delete the resource by removing the finalizer.

**How to reproduce it (as minimally and precisely

[2022-04-14 10:30] sridhargaddam commented on #1885
The `diagnose firewall ...` command spawns pods that run tcpdump. So if we are able to schedule the pods and successfully run them it should be fine.

[2022-04-19 13:05] dfarrell07 commented on #1977
Talked about this on the PR scrub today, we agree it's good to backport. :+1:

[2022-04-19 13:06] dfarrell07 commented on #1977
@MaxBab Do you want to try the backport process? https://submariner.io/development/backports/

[2022-04-19 13:32] MaxBab commented on #1977
@dfarrell07
Sure.
Will do it.

Thanks @skitt and @dfarrell07 for approval.

[2022-04-22 05:53] Jaanki opened #2030 "Delete the `subctl`-specific code."
Delete below directories:
- [x] /cmd
- [x] /internal
- [x] scripts/subctl
- [x] code from Makefile
- [x] /pkg except /pkg/embeddedyamls (and check for any more exceptions)

and below CI Jobs

- [x] subctl.yml
- [x] cross.yml
- [x] release_subctl_on_push.yml

Part of epic [Move subctl to its own repo](https://github.com/submariner-io/enhancements/issues/89)

[2022-04-22 15:19] Jaanki opened #2031 "Add `show brokers` command"
**What happened**:
A recent addition was made to `subctl show all` to also show `broker` information. But there is no `subctl show brokers` command. The behaviour should be the other way round. `show all` is a mechanism to run each `show` command with a single command.

**What you expected to happen**:
Availability of `subctl show brokers` command.

**How to reproduce it (as minimally and precisel

[2022-04-24 13:32] mkolesnik commented on #2030
Why label this as bug? it's a task that's part of the epic

[2022-05-01 09:36] tomer-shefler commented on #1885
Hi Mike, you can add me as an assignee

[2022-05-02 08:31] mrgrieves8 commented on #1885
Hi Mike, you can add me as an assignee

[2022-05-02 13:31] skitt commented on #1977
@MaxBab can you take care of this, or do you want someone else to do the backport?

[2022-05-02 14:33] MaxBab commented on #1977
@skitt @dfarrell07

Guys, I will glad to do it.
But I don't understand the flow.

I read the guide on submariner website - https://submariner.io/development/backports/

And I'm not sure how should I do it.

Should I create a new PR for the "release-0.12" branch and label it with "backport"?
Or should I cherry-pick the existing (merged) PR?

Another question - I guess the go.mod file is not more re

[2022-05-02 15:09] dfarrell07 commented on #1977
This is being discussed on Slack: https://app.slack.com/client/T09NY5SBT/C010RJV694M/thread/C010RJV694M-1651498210.822659

[2022-05-03 13:41] dfarrell07 commented on #2031
Discussing on the PR scrub, this seems not-a-bug.

[2022-05-03 15:58] skitt opened #2042 "Encapsulate SPDY bidirectional upgrades in client.Producer"
`client.Producer` was designed to encapsulate all client access, from `rest.Config` or other sources. In #2007, this encapsulation was broken inside `cluster.Info`, because executing a pod and retrieving its streams requires upgrading a connection, and that involves passing a `rest.Config`. This has the unfortunate side-effect of producing `cluster.Info` instances which have different capabilities

[2022-05-03 16:05] tpantelis commented on #2042
I agree. I didn't like having to add `rest.Config` to `cluster.Info` but didn't see a simple/obvious way to avoid it.

[2022-05-04 09:50] skitt opened #2046 "Go compilation should build packages, not files"
The current compilation process uses `main.go` files explicitly to build the various binaries. In Go 1.18, this creates a significant difference compared to building the corresponding package: the resulting binary identifies the module containing the main file as a dependency, rather than the main module of the binary.

Thus in Submariner, `go build -o submariner github.com/submariner-io/submarine

[2022-05-04 15:36] #2046 closed, assigned to skitt

[2022-05-04 18:12] dfarrell07 commented on #1977
This was done in https://github.com/submariner-io/shipyard/pull/799 and https://github.com/submariner-io/submariner-operator/pull/2038. Thanks @MaxBab! :heavy_check_mark:

[2022-05-04 18:12] #1977 closed, assigned to MaxBab

[2022-05-10 07:12] vthapar opened #2065 "subctl gather fails to gather libreswan data"
**What happened**:
`subctl gather` fails to gather libreswan data if `CableDriver` field is missing/empty in `Submariner` Spec.

**What you expected to happen**:
If `Submariner.Spec.CableDriver` is empty, it should use libreswan as default and gather data for it.

**How to reproduce it (as minimally and precisely as possible)**:
Deploy submariner manually with `Submariner.Spec.CableDriver` field e

[2022-05-10 15:15] arewm opened #2069 "Move subctl releases away from a moving tag on the HEAD"
**What would you like to be added**:

The `subctl` releases should not be created based on tags. The only tags created should be valid SemVer used for tracking specific versions.

**Why is this needed**:
Not only is the `subctl` tag not valid SemVer, but it is also not static. If it is only needed for releases, can we move releases off of the tag so that there isn't additional confusion potentiall

[2022-05-10 15:18] skitt commented on #2069
This would also avoid requiring `git fetch --tags --force` in clones.

[2022-05-10 16:22] abguptms opened #2070 "Service labels not captured in Endpointslices generated from lighthouse agent"
**What happened**:
The endpointslices.discovery.k8s.io/v1 document generated by lighthouseagent for an exported service lacks the labels associated with the actual service document.
**What you expected to happen**:
Alike EndpointController which actually maps all the labels associated with the actual service document, expectation is that the endpointslices generated from submariner too captures al

[2022-05-10 16:56] #2065 closed, assigned to vthapar

[2022-05-12 07:42] maayanf24 opened #2075 "`subctl uninstall` remove the wrong cluster"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Diagnose information (use `subctl diagnose all`):
- Gather information (use `subctl gather`)
- Cloud provider or hardware configuration:
- Install tools:
- Others:

[2022-05-12 08:11] maayanf24 commented on #2075
same happens when running without globalnet, using vxlan cable driver

[2022-05-13 12:35] #1329 closed, assigned to Jaanki, tpantelis

[2022-05-16 15:06] skitt commented on #2030
There’s still a bunch more code to delete.

[2022-05-17 14:11] #2030 closed, assigned to Jaanki, tpantelis

[2022-05-22 00:19] github-actions[bot] opened #2091 "Broken link detected by CI"
Periodic link aliveness CI detected a broken link. Please see the [periodic job
results](https://github.com/submariner-io/submariner-operator/actions?query=workflow%3APeriodic) for details.

[2022-05-24 13:35] dfarrell07 commented on #1608
Wondering if newer versions of the Operator SDK can build bundles that use SA per connected cluster, as this seems like the behavior we actually want. - PR scrub

[2022-05-24 13:40] dfarrell07 commented on #1240
This was considered as a task for students but they didn't take it up, moving back to something we're working on.

[2022-05-24 13:41] dfarrell07 commented on #1241
This was considered as a task for students but they didn't take it up, moving back to something we're working on.

[2022-05-25 10:14] skitt commented on #1936
This hasn’t been fixed.

[2022-05-25 10:17] nyechiel commented on #1936
@maayanf24 I thought you are working on it?

[2022-05-25 14:55] maayanf24 commented on #1936
I started to look into this, I have some implementation questions:
best option is to make flag `--metrics-port` accept multiple values.
should calling `subctl cloud prepare aws  --metrics-port 8081 ...` means that we add internal the default port? (8080)
or user must explicitly specify all ports if using the flag? `subctl cloud prepare aws  --metrics-port 8080 --metrics-port 8081...`

[2022-05-29 11:57] cgruver opened #2095 "`subctl join` v0.12.1 Throws x509: “kube-apiserver-lb-signer” certificate is not trusted"
With v0.12.1 of `subctl` x509 errors are thrown on a join attempt:

OpenShift (OKD) 4.10

[code]

[code]

Reverting to v0.12.0 resolves the issue:

[code]

[2022-06-07 08:48] pengbinbin1 opened #2102 "Nodelocaldns configmap incorrect"
**What happened**:
I have deployed submariner on my 2 k8s clusters. When I join the submariner, I have set the arg **--coredns-custom-configmap** to "**kube-system/nodelocaldns**",but i can not access the import svc via **svcname.namespace.svc.clusterset.local**,the error is "can't resolve the host ". I check the nodelocaldns configmap,like below
![image](https://user-images.githubusercontent.com/

[2022-06-07 13:18] dfarrell07 commented on #2102
Thanks @pengbinbin1! @aswinsuryan volunteered to take a look.

[2022-06-07 13:24] dfarrell07 commented on #1731
There was some work started at https://github.com/submariner-io/submariner-operator/pull/1850 but I don't think anyone is working on it now. Looking for help if there are folks around who can help us support K3s.

[2022-06-07 13:27] dfarrell07 commented on #1730
I think no one is working on this currently, if someone interested in K3s wants to pick it up that would be great.

[2022-06-07 13:28] skitt commented on #1906
Same as #1716.

[2022-06-07 13:28] #1906 closed, assigned to nobody

[2022-06-07 22:42] #2001 closed, assigned to tpantelis

[2022-06-09 09:02] yboaron commented on #1730
I'm not working on it, I have a PR [1] that expands our cni discovery logging, it should help us understand the root cause of bugs related to generic cnis discovery.

[1] https://github.com/submariner-io/submariner-operator/pull/1833

[2022-06-14 11:09] nyechiel commented on #967
@mkolesnik are you working on this for 0.13?

[2022-06-25 01:20] aswinsuryan commented on #2102
@pengbinbin1 is it resolving the local service when you configure the 169.254.25.10 ?

Are the lighthouse pods up and running?

[2022-06-25 02:22] pengbinbin1 commented on #2102
Yes，the lighthouse pods is up and running. And when i configure the 169.254.25.10 like **_`bind 169.254.25.10`_** it will work ok.

[2022-06-25 02:22] pengbinbin1 commented on #2102
@aswinsuryan

[2022-06-30 10:12] #967 closed

[2022-07-04 13:46] #1716 closed, assigned to dfarrell07

[2022-07-04 14:24] nyechiel commented on #1927
I opened this more specific one: https://github.com/submariner-io/lighthouse/issues/787

[2022-07-04 14:24] #1927 closed, assigned to nobody

[2022-07-04 14:40] nyechiel commented on #1824
@skitt can we close this as a duplicate of https://github.com/submariner-io/enhancements/issues/81?

[2022-07-04 14:51] nyechiel commented on #1502
@mangelajo do you have any cycles to look into this?

[2022-07-04 14:53] skitt commented on #1824
Yes, let’s track this in the enhancements repository.

[2022-07-04 14:53] #1824 closed, assigned to skitt

[2022-07-05 13:44] maayanf24 commented on #1608
This has been discussed on the issue scrub meeting and decided to close for now.
If this will become a priority it can be reopened
https://github.com/submariner-io/enhancements/issues/81

[2022-07-05 13:44] #1608 closed, assigned to nobody

[2022-07-06 12:33] nyechiel commented on #1040
Done.

[2022-07-06 12:33] #1040 closed

[2022-07-07 08:08] jinglina opened #2131 "iptables SUBMARINER_GN_EGRESS is not right set in globalnet project, using images with arm64 arch and version release-0.13.0"
**What happened**:
when arm64 images is used in arm64 environment, subctl show connection is error.After research,  package(ping globalip process) that should send to iptables SUBMARINER_GN_EGRESS  is not reachable here, but received by other rules.

as a result, subctl show connections is error.

**What you expected to happen**:
package should be accepted by SUBMARINER_GN_EGRESS rules.

**How to

[2022-07-07 08:15] jinglina commented on #2131
![iptables](https://user-images.githubusercontent.com/30133396/177725429-6d3401fe-5ed8-47f5-801f-51816a39816a.jpeg)

[2022-07-07 09:06] jinglina commented on #2131
![iptables2](https://user-images.githubusercontent.com/30133396/177736223-406276fe-4b0e-42bb-9a58-73eed4e4b326.jpeg)

[2022-07-07 09:09] jinglina commented on #2131
in **amd64** environment, it shows like this:
![iptables3](https://user-images.githubusercontent.com/30133396/177736974-8ef857d4-0d79-47c1-99ac-a9201466c6da.jpeg)

[2022-07-07 13:18] skitt commented on #2131
Does the table show up if you use `iptables-legacy`?

[2022-07-08 02:29] jinglina commented on #2131
The system I uesd is Centos8, default iptables mode is nftables. The images should consider to make it compatible to this mode. A s far as I know , k8s kube-proxy does it.

[2022-07-08 09:41] skitt commented on #2131
Yes, and our container images are compatible with nftables, they automatically pick `iptables-legacy` or `iptables-nft` depending on what’s used on the host. In fact your `iptables` output shows that `iptables-nft` is being used. However, something has added rules to the legacy chains (“WARNING: iptables-legacy tables present, use iptables-legacy to see them”). That’s what I’d like to check.

[2022-07-14 05:54] #2091 closed, assigned to nobody

[2022-07-14 10:04] Jaanki commented on #1921
With https://github.com/submariner-io/submariner-operator/pull/2126, we are moving away from `client-go`. This needs to be rechecked after the PR is merged.

[2022-07-14 20:10] dfarrell07 opened #2139 "OVN deploys in this repo still use Weave"
**What happened**:

In this repo, when run locally or in CI, `using=ovn` doesn't actually deploy with OVN.

CI:

[code]

https://github.com/submariner-io/submariner-operator/runs/7325579121?check_suite_focus=true

Locally (have to override default K8s to 1.24 as done in CI):

**What you expected to happen**:

If I run exactly the same command locally in the main repo, it uses OVN:

[code]

The Shi

[2022-07-19 08:27] josecastillolema opened #2144 "CNI plugin discover does not work when using Weave-net with default subnet"
**What happened**:
CNI plugin discovery does not work when using Weave-net with default subnet (10.32.0.0/12), because the **IPALLOC_RANGE** environment variable is not explicitly set (https://github.com/submariner-io/submariner-operator/blob/devel/pkg/discovery/network/weavenet.go#L38)

**What you expected to happen**:
CNI plugin discovery should work with Weave-net when using the default subnet

[2022-07-19 08:31] sridhargaddam opened #2145 "OVN CI Jobs are running with weave instead of ovn-k"
**What happened**:
The CI jobs like "[E2E (1.24, ovn)]" ideally should be running with OVN-Kubernetes CNI, but instead use weave giving a false impression that jobs are validated on OVNK. Looks like the "using=ovn" flag is broken.

[2022-07-19 14:10] dfarrell07 commented on #2145
I documented the same thing here: https://github.com/submariner-io/submariner-operator/issues/2139

[2022-07-21 19:17] #2145 closed, assigned to nobody

[2022-07-25 14:55] #2144 closed, assigned to josecastillolema

[2022-08-08 15:39] nyechiel commented on #2139
@dfarrell07 @sridhargaddam I think this is fixed now?

[2022-08-09 13:36] dfarrell07 commented on #1646
Talking about this on the scrub, @skitt says that we used this embedded code in other projects so we can't switch to generate or we'd lose that.

[2022-08-09 13:41] dfarrell07 commented on #1648
This is partly covered in https://github.com/submariner-io/releases/issues/87 and the bundle is broken, needs Operator SDK work before we can think about including that in the release process. Talking about this on the scrub, closing for more specific issues.

[2022-08-09 13:41] #1648 closed, assigned to Jaanki

[2022-08-09 13:42] dfarrell07 commented on #1647
@Jaanki Maybe we can make more specific issues with reasoning about "why" and close this very general one?

[2022-08-16 09:20] mongoliaredmountain opened #2171 "How to solve this problem"
<img width="1092" alt="WX20220816-171222@2x" src="https://user-images.githubusercontent.com/22609864/184844306-bbbe9c50-9cc2-4097-83d9-fc89c60ce11c.png">
<img width="1096" alt="WX20220816-171332@2x" src="https://user-images.githubusercontent.com/22609864/184844320-20979637-bc79-46b9-accc-a56223ee3189.png">
<img width="842" alt="WX20220816-171445@2x" src="https://user-images.githubusercontent.com/2

[2022-08-16 09:51] skitt opened #2172 "The subctl consuming projects CI uses outdated Go"
The `subctl` “consuming projects” CI job runs a local build, relying on the CI-provided Go instead of the Shipyard-provided one.

We need to set up Go to meet the project requirements.

[2022-08-16 17:02] #2172 closed, assigned to nobody

[2022-08-18 07:43] skitt opened #2183 "E2E isn’t testing PR changes (deploy deploys the latest published image)"
**What happened**:

The E2E jobs on https://github.com/submariner-io/submariner-operator/pull/2179 didn’t fail as we expected they would given other failures in CI. https://github.com/submariner-io/submariner-operator/pull/2180 also didn’t behave as expected — this can’t be seen in the jobs themselves, but the operator doesn’t perform CRD initialisation as expected given the changes in the PR.

Lo

[2022-08-25 15:12] pengbinbin1 opened #2202 "what is the max cluster connections can submariner support?"

[2022-08-25 15:43] #2202 closed, assigned to nobody

[2022-08-26 01:22] jinglina opened #2205 "how many clusters are limited in clusterset with one broker, any test data?"
this question is related to https://github.com/submariner-io/submariner/issues/517, but I cannot find any explicit answers. Any suggestions?

[2022-08-26 07:28] #2205 closed, assigned to nobody

[2022-08-30 14:10] dfarrell07 commented on #2183
@skitt was this fixed by https://github.com/submariner-io/submariner-operator/pull/2186 and https://github.com/submariner-io/submariner-operator/pull/2209?

[2022-08-30 15:43] skitt commented on #2183
#2209 is similar but doesn’t touch e2e; #2186 would trip if this occurred, and since it hasn’t, I’m assuming the symptoms described here were a glitch.

[2022-08-30 15:43] #2183 closed, assigned to skitt

[2022-09-02 02:22] pengbinbin1 opened #2223 "Why the status about namespace submariner-operator is always terminating?"
When i uninstall the submariner used the command "subctl uninstall -y",sometimes the status about  submariner-operator namespace is terminating ,and the status  will remain teriminating for all time ,but why?
**What would you like to be added**:

**Why is this needed**:

[2022-09-02 02:37] tpantelis commented on #2223
Perhaps there's still resources left in the namespace. This command should find the resources that weren't deleted:

`kubectl api-resources --verbs=list --namespaced -o name | xargs -n 1 kubectl get --show-kind --ignore-not-found -n submariner-operator`

Also run `kubectl get namespace submariner-operator -o yaml` - hopefully a status condition will indicate why it's stuck terminating.

[2022-09-02 03:30] dirajag1 opened #2224 "Should be able to pull submariner images from private registry"
**What would you like to be added**:
With the current subctl CLI , we can pull images from a custom registry using the --repository option .
However, this should be a public registry and we are unable to pull the images from a registry with credentials .
We should also be able to customize the image names with tags .

**Why is this needed**:

We have a requirement to do an offline installation of

[2022-09-02 08:02] skitt commented on #2224
To be able to install images from a private registry, we need to support `imagePullSecrets` in pod templates; see https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/ for details.

[2022-09-07 10:15] #1647 closed, assigned to Jaanki

[2022-09-14 02:34] pengbinbin1 commented on #2223
I have exec the command `kubectl api-resources --verbs=list --namespaced -o name | xargs -n 1 kubectl get --show-kind --ignore-not-found -n submariner-operator` and there are no response.

[2022-09-14 02:34] pengbinbin1 commented on #2223
<img width="381" alt="微信截图_20220914095845" src="https://user-images.githubusercontent.com/28950491/190045666-01dae0e0-8dad-4dc9-a00c-e86395844457.png">
<img width="543" alt="微信截图_20220914095921" src="https://user-images.githubusercontent.com/28950491/190045672-1cd83899-a98b-4b6b-93d6-38a53a51ec7a.png">

[2022-09-15 15:43] dfarrell07 commented on #2139
Yep, confirmed this is fixed now.

[code]

[E2E (1.24, ovn)](https://github.com/submariner-io/submariner-operator/actions/runs/3054387251/jobs/4926217749#logs)

[2022-09-15 15:43] #2139 closed, assigned to nobody

[2022-09-21 19:29] nyechiel commented on #2224
@sridhargaddam we probably want to prioritize this for 0.14 as part of air-gapped support?

[2022-09-21 19:31] nyechiel commented on #2223
@tpantelis this sounds like a bug?

[2022-09-21 19:34] nyechiel commented on #2171
@mongoliaredmountain can you please follow our bug template, and attach full info and logs?

[2022-09-21 19:35] nyechiel commented on #2131
@jinglina can you comment on that?

[2022-09-21 19:37] nyechiel commented on #1921
@mkolesnik is this still valid?

[2022-09-21 22:42] tpantelis commented on #2223
I don't know. There may be resources remaining in the namespace - if so we need to know what those resources are but he says the command to list them doesn't respond which seems strange.  Not sure how to proceed w/o more info to go on.

Looking at the namespace status conditions, one says "_Failed to delete all resource types, 4 remaining: the server was unable to return a response_". So apparentl

[2022-09-22 02:23] tpantelis commented on #1921
This is still happening even after the K8s upgrade:

`[cluster1] E0830 16:14:52.314739       1 reflector.go:138] k8s.io/client-go@v0.24.3/tools/cache/reflector.go:167: Failed to watch *unstructured.Unstructured: unknown`

We don't specifically watch the `Unstructured` type anywhere. I winder if this is somehow related to the `Secrets` resource syncer.

[2022-09-22 05:23] nyechiel commented on #2223
Is this reproducible with `kind`?

[2022-09-22 07:30] skitt commented on #1921
Let’s try removing that then: https://github.com/submariner-io/submariner-operator/pull/2253

[2022-09-23 15:38] #1921 closed, assigned to Jaanki

[2022-09-26 10:16] #2171 closed, assigned to nobody

[2022-09-27 13:50] dfarrell07 commented on #2223
@pengbinbin1 I think we need you to run the diagnostic commands @tpantelis mentioned, maybe also `subctl diagnose`/`subctl gather`.

[2022-09-29 16:47] ClementGautier opened #2261 "Error retrieving broker admin config: “kube-apiserver” certificate is not trusted"
**What happened**:
I tried to join a cluster on a newly bootstraped broker but the command failed:
[code]
**What you expected to happen**:
I expect the join command to succefully fetch the broker datas

**How to reproduce it (as minimally and precisely as possible)**:
My setup is fairly simple: 2 kind clusters with 2 nodes each using calico:
[code]
(same config for cluster-b)
then I ran:
[code]
wa

[2022-09-30 07:06] skitt commented on #2261
Thanks for the detailed bug report!

This is just a workaround, but to get things going you can disable the broker certificate check:

    subctl join --kubeconfig kubeconfig-a.yaml broker-info.subm --clusterid cluster-a --natt=false --check-broker-certificate=false

[2022-09-30 07:24] ClementGautier commented on #2261
Thank you @skitt ! The join command ran successfuly:
[code]

Yet I can't find any gateway created by the operator even though my worker node have the "submariner.io/gateway=true" label. When I launch the verify command everything timeout:
[code]

Here are the logs from the operator:
[code]

The errors at the end are sus but I'm not sure what's wrong in my setup

[2022-09-30 07:37] ClementGautier commented on #2261
Looks like submariner operator's service account isn't allowed to see the secrets:
[code]

[2022-09-30 07:45] ClementGautier commented on #2261
I added the rule (get/list/watch on secrets in the clusterrole submariner-operator) to the submariner-operator service account but I get the same issue in the operator's logs. Any idea?

[2022-09-30 08:43] skitt commented on #2261
I think the main problem is the “connection refused” error on 127.0.0.1:50234 — if the cluster can’t even connect to the broker, nothing is going to work. The limitation on secrets is fine, the clusters use a different SA to connect to the broker.

Are your kind clusters running in the same container network?

You’re also going to run into problems if you used the same CIDRs for both clusters with

[2022-09-30 09:07] ClementGautier commented on #2261
My first cluster I'm trying to join is on the same k8s cluster than the broker. I would expected him to join without issue.

I'm not using the same network: I disabled kindnet to use calico (cf kind configuration): my goal is to use globalnet (I have conflicting cidrs in my production network and I want to replicate that locally). From what I see during the join command globalnet is used by defaul

[2022-09-30 09:29] skitt commented on #2261
Right, one would expect a cluster to be able to connect to the broker on the same cluster. However in your setup that’s not the case, and that’s what needs to be fixed first. `subctl` itself can connect to the broker, but the operator running inside the cluster can’t...

Globalnet is disabled by default, you need to enable it when deploying the broker, with the `--globalnet` option (`subctl deploy

[2022-09-30 11:57] ClementGautier commented on #2261
I see: the `subctl join` command uses `--globalnet` by defaut but not `deploy-broker`, that's why I got confused. Anyway, I recreated my cluster and tried like that but I end up with the same issue: the operator can't reach the broker api. It uses the same 127.0.0.1 path which won't work.

I patched the Submariner.brokerK8sApiServer field to use the controler-plane node InternalIP (172.18.0.x) and

[2022-09-30 12:48] skitt commented on #2261
The way Submariner is set up assumes that the connection parameters for the broker, as defined in whatever `kubeconfig` is given to `subctl`, are appropriate for use inside the clusters too. We may need to revisit that assumption!

[2022-09-30 16:18] ClementGautier commented on #2261
I see ! Given that assumption I think my initial report wasn't a bug: I'm using kind on a MacOS so the clusters network is isolated from the host network where I have subctl installed.

As a workaround, I made it work using subctl inside the same docker network as kind:

For documentation purposes, here is how I did it:
[code]

I still encounter tcp connectivity issues but I guess I can close this

[2022-09-30 16:18] #2261 closed, assigned to nobody

[2022-10-05 11:51] ClementGautier commented on #2261
As a FYI I was trying another approach to my problem using a service mesh (Istio) and they added a nice warning on their cli when this happen:
[code]

Maybe something to add in Submariner too?

[2022-10-17 08:07] skitt commented on #2261
Yes, I was thinking along those lines too, I’ve opened https://github.com/submariner-io/subctl/issues/300 so we don’t forget about it. Thanks!

[2022-10-19 14:34] skitt opened #2291 "The operator should support related images"
**What would you like to be added**:

If the operator is deployed using a bundle, and that bundle specifies related images to use, those images should be used instead of the defaults or those specified in the Submariner CR.

**Why is this needed**:

This is needed for air-gapped deployments: images are provided using a local registry, and pointers to those images are provided as related images in

[2022-10-19 16:00] #1731 closed, assigned to nerdalert

[2022-10-21 07:38] skitt commented on #2291
This is already implemented, see https://github.com/submariner-io/submariner-operator/pull/1702.

[2022-10-21 07:38] #2291 closed, assigned to nobody

[2022-10-24 12:47] dfarrell07 opened #2302 "Flaky failures in E2E (wireguard/libreswan, globalnet, 1.25, lighthouse)"
**What happened**:

We've had two Flake Finder failures in the last week in the operator repo. We run the FF twice a night to know if a failure was due to infra or something consistent, or is actually a flake. In both cases, only one of the two jobs failed, which indicates a flake.

**What you expected to happen**:

Zero flakey failures.

**How to reproduce it (as minimally and precisely as possib

[2022-10-25 13:50] skitt opened #2304 "subctl uninstall should use the nettest image to pause"
The pause image isn’t available for all the architectures we end up caring about, or it’s available under different names; using an external image also means we end up relying on something we don’t build.

Our `nettest` images include `sleep`, so they can be used as pause images — all that’s required is to run a pod with `sleep infinity`.

[2022-10-25 18:41] sridhargaddam commented on #2302
Looks like the failure is in Service discovery test-case:

Both the failures are pointing to the same test-case.

[code]

[2022-10-31 19:06] nyechiel opened #2317 "OCP 4.12: some tests fail with PodSecurity restrictions error"
- `subctl`-based deployment on top of OCP 4.12 (k8s 1.25) clusters using `0.14.0-rc1`
- Installation seems to be working fine; IPsec connections are up
- `subctl diagnose` shows pod security warnings as described here: https://github.com/submariner-io/subctl/issues/348
- Some E2E tests are failing with what seems to be wrong PodSecurity configuration:

[code]

See attached files.

[2022-10-31 19:08] nyechiel commented on #2317
[full_e2e_output.txt](https://github.com/submariner-io/submariner-operator/files/9904099/full_e2e_output.txt)

[nyechiel-ovnk-1.zip](https://github.com/submariner-io/submariner-operator/files/9904112/nyechiel-ovnk-1.zip)

[nyechiel-ovnk-2.zip](https://github.com/submariner-io/submariner-operator/files/9904114/nyechiel-ovnk-2.zip)

[2022-10-31 19:23] nyechiel commented on #2317
This is likely related to https://github.com/submariner-io/shipyard/issues/1006

[2022-10-31 21:57] #2304 closed, assigned to tpantelis

[2022-11-01 14:51] tpantelis commented on #2317
With https://github.com/submariner-io/shipyard/pull/1009, I set `allowPrivilegeEscalation`  and `Capabilities.Drop` according to the error message and to match what was previously done in https://github.com/submariner-io/shipyard/pull/995/files.

Also, according to the error, we "_must set securityContext.runAsNonRoot=true_". But according to [this](https://master.sdk.operatorframework.io/docs/bes

[2022-11-02 09:01] nyechiel commented on #1502
@mangelajo Do you know if this one is still relevant? any chance you can look into it?

[2022-11-02 13:10] skitt commented on #2317
In my tests, the pods run fine with this setting on OCP 4.12.

Yes, we’d have to adjust the specs depending on the version of K8s on the cluster.

Unfortunately it isn’t.

[2022-11-02 14:05] tpantelis commented on #2317
hmm... but [not in kind](https://github.com/submariner-io/shipyard/actions/runs/3377773219/jobs/5607117483): `container has runAsNonRoot and image will run as root`. I assume that's b/c the user ID defaults to 0. So we need to set it to something.

[2022-11-03 12:56] sridhargaddam commented on #2317
The PR (https://github.com/submariner-io/shipyard/pull/1009/files) seems to be merged. So, can we close it or is there any additional work pending for this issue?

[2022-11-03 13:17] tpantelis commented on #2317
Need to backport still...

[2022-11-03 15:51] #2317 closed, assigned to tpantelis

[2022-11-03 15:52] nyechiel commented on #2317
Once we confirm the fix, let's also backport to `release-0.13`. I added this issue into https://github.com/submariner-io/releases/issues/525

[2022-11-07 09:01] maayanf24 opened #2330 "OCP 4.12: some tests failed with PodSecurity restriction errors: "restricted:v1.24": host namespaces (hostNetwork=true)"
**What happened**:
deploy with `subctl` on top of OCP 4.12 clusters using `0.14.0-rc2`
Some E2E tests failed, full log attached.

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Diagnose information (use `subctl diagnose all`):
- subctl diagnose firewall inter-cluster --context clus

[2022-11-07 09:03] maayanf24 commented on #2330
[maafried-cluster-a1.tar.gz](https://github.com/submariner-io/submariner-operator/files/9950044/maafried-cluster-a1.tar.gz)
[maafried-cluster-b1.tar.gz](https://github.com/submariner-io/submariner-operator/files/9950054/maafried-cluster-b1.tar.gz)
[testday_0.14.0-rc2-full-e2e.txt](https://github.com/submariner-io/submariner-operator/files/9949846/testday_0.14.0-rc2-full-e2e.txt)

[2022-11-07 13:44] maayanf24 opened #2332 "OCP 4.12: failed to run `subctl diagnose firewall inter-cluster`"
**What happened**:
running `subctl diagnose firewall inter-cluster` failed:
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
OCP 4.12 on AWS,
submariner 0.14.0-rc2
[maafried-cluster-a1.tar.gz](https://github.com/submariner-io/submariner-operator/files/9952107/maafried-cluster-a1.tar.gz

[2022-11-07 13:49] nyechiel commented on #2332
This is likely not specific to OCP 4.12, but to the 0.14 kubeconfig handling changes.

[2022-11-07 15:21] skitt commented on #2330
The `diagnose` error is caused by the mismatch between context names and cluster names. This is tracked with https://github.com/submariner-io/submariner-operator/issues/2333. This issue will address the `PodSecurity` errors.

[2022-11-07 15:40] skitt opened #2333 "subctl: context names and cluster names are used inconsistently"
Various `subctl` commands can fail if the context names don’t match the cluster names. See #2330 for one example: the contexts are named `cluster-a1` and `cluster-b1`, but the clusters are named `maayan-cluster-a1` and `maayan-cluster-b1`. The clusters ended up joined using the context names rather than the cluster names, and then `diagnose firewall inter-cluster` looks for connections matching th

[2022-11-07 17:20] skitt commented on #2333
This is a duplicate of #2332.

[2022-11-07 17:20] #2333 closed, assigned to nobody

[2022-11-07 17:21] skitt commented on #2332
This happens because the context names don’t match the cluster names. The contexts are named `cluster-a1` and `cluster-b1`, but the clusters are named `maayan-cluster-a1` and `maayan-cluster-b1`. The clusters ended up joined using the context names rather than the cluster names, and then `diagnose firewall inter-cluster` looks for connections matching the cluster names and fails (because they list

[2022-11-07 23:40] tpantelis commented on #2330
From [this blog](https://cloud.redhat.com/blog/managing-sccs-in-openshift), I think we're going to have to use the `hostnetwork` SCC (at least). It seems we'll have to create a `ServiceAccount` in the e2e namespace and associate to the desired SCC via a cluster role binding as described in the blog and as we do in [subctl](https://github.com/submariner-io/subctl/blob/abd0710c96fa1d2a637d00782b3744

[2022-11-09 10:53] Jaanki commented on #2332
I could reproduce this on KIND setup as well. To reproduce, `join` the clusters with `--clusterid` arguments.

[2022-11-10 18:03] tpantelis commented on #2330
In shipyard, we create the test namespace with `enforce` pod security label set to `privileged`, eg:

[code]

However, the resulting namespace has the label set to `restricted`:

[code]

So it seems OCP silently disallows `privileged` access although it's somehow allowed for the `submariner-operator` namespace.  I even tried changing the label manually via CLI and it succeeds but then is changed b

[2022-11-10 18:51] tpantelis commented on #2330
So this behavior is controlled by the OCP [label synchronization controller](https://github.com/openshift/enhancements/blob/master/enhancements/authentication/pod-security-admission-autolabeling.md). This behavior can be disabled by setting the `security.openshift.io/scc.podSecurityLabelSync` label to false. I added this label to a namespace and then changed the `enforce` label to `privileged` and

[2022-11-11 05:50] #2332 closed, assigned to Jaanki

[2022-11-11 06:30] Jaanki commented on #2332
Backport on 0.14: https://github.com/submariner-io/subctl/pull/373

[2022-11-14 09:05] #2330 closed, assigned to tpantelis

[2022-11-15 10:00] maayanf24 opened #2352 "OCP 4.12 + OVN-K: Basic TCP connectivity tests failed"
**What happened**:
deploy with subctl on top of OCP 4.12 clusters using 0.14.0-rc3
Some E2E tests failed, full log attached.

STEP: Verifying that the listener got the connector's data and the connector got the listener's data
STEP: Deleting namespace "e2e-tests-dataplane-conn-nd-hn8lm" on cluster "maafried-clustera1"
STEP: Deleting namespace "e2e-tests-dataplane-conn-nd-hn8lm" on cluster "maafrie

[2022-11-15 11:05] sridhargaddam commented on #2352
This issue is seen when using OVNKubernetes CNI in a Non-Globalnet deployment.

[2022-11-15 14:19] yboaron commented on #2352
It was MTU issue,
after applying  [1] workaround problem was fixed.

Seems like this case is similar to https://github.com/submariner-io/submariner/issues/2043

[1]
https://github.com/submariner-io/submariner/pull/2016

[2022-11-15 14:49] dfarrell07 commented on #2302
https://github.com/submariner-io/submariner-operator/actions/runs/3441460981/jobs/5741026073
https://github.com/submariner-io/submariner-operator/actions/runs/3424272185
https://github.com/submariner-io/submariner-operator/actions/runs/3402441616
https://github.com/submariner-io/submariner-operator/actions/runs/3398171015

Some more recent failures.

[2022-11-15 15:04] skitt commented on #2352
So should we close this, or is there something that needs to be fixed so the MTU is set up correctly without user intervention?

[2022-11-15 15:08] sridhargaddam commented on #2352
Discussed with @yboaron on slack and the plan is to check if reverting this PR (https://github.com/submariner-io/submariner/pull/2016) is fixing the issue. If not, we can document the work-around (forcing MTU using annotation on GW nodes) and continue to investigate the root cause of the MTU issue.

[2022-11-16 06:40] nyechiel commented on #1415
@skitt is it still relevant?

[2022-11-16 06:49] Jaanki commented on #1415
No. It's done as part of operator-ask upgrade epic.

[2022-11-16 06:50] Jaanki commented on #1415
@skitt and I discussed this yesterday.

[2022-11-16 10:38] yboaron commented on #2352
+1

I opened this [bug](https://github.com/submariner-io/submariner/issues/2132) to track MTU issues investigation.

[2022-11-16 13:53] yboaron commented on #2352
I verified that e2e are green for OCP 4.12 with OVNK for v0.14.0-rc3 with customized route-agent (reverting [the relevant PR ](https://github.com/submariner-io/submariner/pull/2016)  )

[2022-11-16 19:13] #2352 closed, assigned to Jaanki, yboaron

[2022-11-21 09:58] skitt opened #2734 "Metrics proxy should be implemented as a separate command"
The metrics proxy is currently implemented as a direct invocation of `nc`:

    /usr/bin/nc -v -lk -p <hostport> -e nc <nodeip> <podport>

This relies on a specific version of `nc`, specifically Busybox `nc` and its handling of `-e`. Alternate `nettest` container images based on platforms with different versions of `nc` handle this differently.

The proxy should be implemented as a separate comman

[2022-11-23 09:48] vthapar opened #2362 "Add nodeSelector and toleration scheduling support for submariner"
**What would you like to be added**:
Add some option to deploy submariner pods on specific nodes using nodeSelectors and tolerations.

**Why is this needed**:
Some customers want to run infra services like submariner on specific infra nodes. Running all submariner services on specific nodes also makes it easier for customers to secure networking on most nodes.

[2022-11-24 12:25] skitt opened #2364 "E2E jobs ignore the requested K8s version"
Our E2E jobs ignore the requested K8s version and run on 1.25. This has resulted in our losing the ability to run on 1.17 without noticing.

I haven’t checked but this is presumably related to the switch from `CLUSTERS_ARGS` to `K8S_VERSION` in Shipyard.

[2022-11-29 13:33] mkolesnik commented on #2364
Yes and no, the `K8S_VERSION` is behaving properly, the problem is when using "dapper" it only passes environment variables that were defined in `DAPPER_ENV` into the container.
We can either list all variables in the `Dockerfile.dapper` (which would be long and perhaps annoying to maintain) or just use make flags for the CI (for e2e its a simple fix, for other jobs might be more work).

For now I

[2022-11-29 14:36] dfarrell07 opened #2373 "Expand system tests to cover all join flags"
Some flags, like the cable driver, are currently not covered by system tests.

https://github.com/submariner-io/submariner-operator/blob/devel/scripts/test/system.sh

Look into flags that we set via join and expect a result in K8s objects, verify at a system test level they are actually set.